body {
    background-color: rgba(0, 162, 255, 0.808);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    width: 500px;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    margin: auto;
    
}

footer {
    color: white;
    text-align: center;
}